* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.continer {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.content {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.content h1 {
  color: #002765;
  display: flex;
  text-align: center;
  padding: 0px 0px 10px 30%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #bce8fa;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.list li {
  font-size: 17px;
  font-weight: bold;
}

.delete {
  align-items: center;
  margin-left: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 5px 10px;
  background: #ff5945;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
